.user-button {
  background-color: rgba(185, 217, 235, 0.5);
  border: none;
  border-radius: 0;
}

.user-button:hover {
  transform: scale(1.05);
}

.user-button-label {
  font-family: sans-serif;
  color: black;
  font-size: 14px;
}

.logout-button {
  background-color: #ff4c4c; 
  border: none;
  border-radius: 12px;
}

.logout-button:hover {  
  background-color: #ff6666;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.logout-button-label {
  font-family: sans-serif;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
